/* Fonts */
/* ------------------------------------------------- */

@font-face  {
font-family: 'Font Name';
src: url('./fonts/font-name.eot');
src: url('./fonts/font-name.eot?#iefix') format('embedded-opentype'),
     url('./fonts/font-name.woff2') format('woff2'),
     url('./fonts/font-name.woff') format('woff'),
     url('./fonts/font-name.ttf') format('truetype');
font-style: normal;
font-weight: normal;
}

@font-face  {
  font-family: 'agpxregular';
  src: url('fonts/agpx.eot');
  src: url('fonts/agpx.eot?#iefix') format('embedded-opentype'),
       url('fonts/agpx.woff2') format('woff2'),
       url('fonts/agpx.woff') format('woff'),
       url('fonts/agpx.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

/* CSS Resets */
/* ------------------------------------------------- */


html  {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body  {
  margin: 0;
  padding: 0;
  height: 100vh;   
  width: 100vw;     
}

*   { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  width: 100%;
  padding: 0 80px;
}
/* Actual Styling */
/* ------------------------------------------------- */

section {
  width: 100%;
  padding: 0 80px;
}


section:nth-of-type(1) > p:nth-of-type(1) {
  font-size: 150px;
  color: red;
  stroke: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

section:nth-of-type(1) > p:nth-of-type(1) {
  font-size: 200px;
  color: red;
  stroke: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
}

section:nth-of-type(1) > p:nth-of-type(2) {
  font-size: 20px;
}

section:nth-of-type(1) > p:nth-of-type(2) > span {
font-size: 40px;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
color: red;
}

section:nth-of-type(1) > p:nth-of-type(2) > span:nth-of-type(2) {
  font-size: 20px;
font-family:Arial, Helvetica, sans-serif;
font-weight: 100;
text-transform:uppercase;
}

section:nth-of-type(1) > p:nth-of-type(2) > span:nth-of-type(3) {
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-transform:uppercase;
}

section:nth-of-type(1) > p:nth-of-type(3) {
font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
font-size: 20px;
color: red;
}

section:nth-of-type(1) > p:nth-of-type(3) > span {
color: blue;
font-size: 25px;
font-style: italic;
}

section:nth-of-type(1) > p:nth-of-type(4) {
font-family:monospace;
font-size: 20px;
}

section:nth-of-type(1) > p:nth-of-type(4) > span {
font-size: 80px;
text-transform: uppercase;
color: blue;
}

section:nth-of-type(1) > p:nth-of-type(5) {
  font-family: 'agpxregular';
  font-size: 50px;
  text-align: center;
}

div {
  border: 1px solid black;
  outline: 25px solid rgb(254, 254, 130);
  padding-left: 40px;
}