
/* DIV.LEFT and DIV.RIGHT (THE FLEX CONTAINERS) */
/* ----------------------------------------------------- */

div.left, 
div.right {
    background-color: white;
    width: 100%;
    width: 50%;
    display: flex;
}

div.right {
    flex-direction: column;
}


/* FLEX ITEMS */
/* ----------------------------------------------------- */

div > div {
    margin: 2px;
    text-align: center;
    padding: 5px;
}

#s1 > div > div:nth-of-type(4) {
    font-size: 1.5 rem;
}

#s1 > div > div:nth-of-type(5) {
    font-size: 2.2rem;
}


/* SECTION 1 */
/* ----------------------------------------------------- */

#s1 div > div {
    background-color: lightblue;
    flex-grow:1; 
}


/* SECTION 2 */
/* ----------------------------------------------------- */

#s2 div > div {
    background-color: lightgreen;
    flex-basis: 90px;
}

#s2 div.left, div.right {
    flex-wrap: wrap-reverse;

}

/* SECTION 3 */
/* ----------------------------------------------------- */
#s3 div > div {
    background-color: lightgrey;
}

#s3 div div:nth-last-of-type(1) {
flex-basis: 50%;
}


/* SECTION 4 */
/* ----------------------------------------------------- */

#s4 div > div {
    background-color: yellow;
    padding: 1rem;
    padding-bottom: 1.5rem;

}

#s4 div.left, div.right {
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-content: center;
    align-items: stretch;
}

#s4 div.left {
    flex-basis: 47%;
}

#s4 div.right {
    flex-basis: 25%;
    width: 50%;
}

#s4 div.left div:nth-of-type(1) {
    order: 2;
}

#s4 div.right div:last-of-type {
    order: -2;
}

@media screen and (max-width: 965px) {
    #s4 div > div {
        background-color: blueviolet;
        flex-basis: auto;
        width: auto;
    }
}
@media screen and (max-width: 650px) {
    #s4 div > div {
        background-color: chartreuse;
    }

    #s4 div.right {
        flex-wrap: nowrap;
    }
}