/* BODY AND SECTIONS */
/* ----------------------------------------------------- */

/* All body and section styling available here (except for the fonts, which are declared in the defaults+fonts.css). One property has already been declared on the body and section element, respectively */


/* SOME CSS PROPERTIES YOU COULD USE:
{
    margin: 20px;
    margin: 20%;

    margin-left: ;
    margin-right: ;

    padding-left: 20px;
    padding-right: 20%;
    padding: 0 50px;
    padding: 10px 30px 50px 70px;

    border-width: ;
    border-style: ;
    border-color: ;
    border: ;

    font-size: ;
    line-height: ;
    letter-spacing: ;
    
    text-align: ;
    text-transform: lowercase;
    text-indent: 20px;
    columns: 2;
    column-gap:;

    text-decoration:;
    text-decoration-line: ;
    text-decoration-thickness: ;
    text-underline-offset: ;}
    
    list-style: ;
    content: ;
}

*/


/* Your Styling Goes Here */
/* ----------------------------------------------------- */

h1 {
    font-size: 60px;
    text-align: center;
    text-transform: capitalize;
}

section > p:first-of-type, div > p:first-of-type {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

section, div {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    border-top: 1px solid black;
}
::selection {
    color: black;
    background-color:rgb(255, 220, 237);
}

::-moz-selection {
    color: black;
    background-color:rgb(255, 220, 237);
}

section:nth-of-type(1) {
    padding-left: 40px;
    padding-right: 40px;
}

section:nth-of-type(1):hover {
   background-color: rgb(255, 220, 237);
}


section:nth-of-type(2) {
    margin-left: 40px;
    margin-right: 40px;
}

section:nth-of-type(2):hover {
    background-color: rgb(255, 220, 237);
 }

 section:nth-of-type(3) {
    margin-top: 50px;
    padding-bottom: 30px;
    background-color:rgb(255, 234, 244);
}

section:nth-of-type(4) {
    margin-top:100px;
    border: 25px solid rgb(254, 254, 130);
    padding: 20px;
    padding-left: 40px;
    }

section:nth-of-type(4) > ul:nth-of-type(1) > li:nth-of-type(2) {
    text-decoration: underline;
}

section:nth-of-type(4) > ul:nth-of-type(1) > li:nth-of-type(2):hover {
    text-decoration:line-through;
}

section:nth-of-type(4) > ul:nth-of-type(2) {
list-style:none;
margin-left: -20px;
}

section:nth-of-type(4) > ul:nth-of-type(2) > li::before {
    content:"\261E";
    margin-right: 20px;
}

section:nth-of-type(4) > ul:nth-of-type(2) > li:nth-child(even){
    background-color: rgb(255, 234, 244);
}

div {
    border: 1px solid black;
    outline: 25px solid rgb(254, 254, 130);
    padding-left: 40px;
}

section:nth-of-type(5) > div {
    border: 0px solid rgba(0, 0, 0, 0);
    outline: 0px solid rgba(0, 0, 0, 0);
    padding-left: 0px;
}

div ol {
    list-style: upper-roman;
}

div ol li {
    margin-bottom: 20px;
}

section:nth-of-type(5) > div > p:first-of-type {
font-size:unset;
letter-spacing: 0;
text-transform:none;
text-align: left;
}

section:nth-of-type(5) > div {
    columns: 3; 
    column-gap: 50px;
}

section:nth-of-type(5) > div p {
margin: 0;
}

section:nth-of-type(5) > div p:nth-of-type(2), section:nth-of-type(5) > div p:nth-of-type(3), section:nth-of-type(5) > div p:nth-of-type(4), section:nth-of-type(5) > div p:nth-of-type(5), section:nth-of-type(5) > div p:nth-of-type(6) {
text-indent: 60px;
}

section:nth-of-type(6) > p::first-line {
    font-size: 44px;
    line-height: 0.8;
}

section:nth-of-type(6) blockquote {
    color: rgb(255, 220, 237);
    padding-left: 30px;
    padding-right: 30px;
    border-left: 1px solid rgb(255, 220, 237);
    margin-left: 30px;
}

section:nth-of-type(6) q {
    color: rgb(255, 220, 237);
    padding-left: 30px;
    padding-right: 30px;
    border-left: 1px solid rgb(255, 220, 237);
    border-right: 1px solid rgb(255, 220, 237);
    margin-right: 10px;
}
